Django>=5.0
djangorestframework
channels>=4.0
channels-redis>=4.0
celery>=5.4
django-celery-results
django-celery-beat
redis>=5.0
kombu
psycopg[binary]
django-environ
twilio
kafka-python
daphne
djangorestframework-simplejwt==5.3.1
boto3
python-dotenv
pika
django-cors-headers
django-filter
django-ratelimit
djangorestframework-gis
drf-yasg
